* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3F3D56;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 512px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 37px;
    margin-bottom: 31px;
    text-align: center;

}

.label-text {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 6px;
    display: inline-block;
    border: none;
}

.text {
    border: 1px solid #ABB3A8;
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    padding: 16px;
}

.box.first {
    margin-bottom: 39px;
}

.box.second {
    margin-bottom: 26px;
}

.connect {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.connect-check {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.connect-label {
    font-size: 14px;
}

.forgot {
    font-size: 14px;
    color: #1DB9E0;
    text-decoration: none;
    transition-duration: 300ms;
}

.forgot:hover {
    color: rgba(29, 186, 226, 0.9);
    text-decoration: underline;
}

.send {
    height: 47px;
    background-color: #3F3D56;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border: none;
    margin-bottom: 32px;
}

.send:hover {
    border-bottom: 1px solid #3F3D56;
    transition-duration: 300ms;
    cursor: pointer;
}

.singin {
    text-align: center;
    font-size: 14px;
}

.singin-link {
    font-size: 14px;
    color: #1DB9E0;
    text-decoration: none;
    transition-duration: 300ms;
}

.singin-link:hover {
    color: rgba(29, 186, 226, 0.9);
    text-decoration: underline;
}


/*estilização de cadastro*/

.form-2{
    justify-content: center;
    width: 396px;
    margin: 0 auto ;
}
.top{
    padding-bottom: 22px;
    align-items: center;
}
.box-first{
    
    width: 396px;
    margin-bottom: 35px;
}
.box-2{
   
    display: flex;
    
    font-size: 14px;
    
    
}

.label-text{
color:  #323730;
border: 1px solid #ABB3A8;
box-sizing: border-box;
text-transform: capitalize;
margin-bottom: 6px;
}

.text:hover{
    border: 1px solid #ABB3A8;
box-sizing: border-box;

}
.comp{
    
   display: flex;
    display: inline-block;
    flex-direction: column;
    margin-bottom: 9px;
}
#date{
    width: 170px;
    height: 47px;
    margin-bottom: 33px;
}  
.option{
    width: 208px;
    height: 47px;
}
.genero-2{
    margin-bottom: 8px;
}
.box-sex{
    display: flex;
    justify-content: space-between;
}

.femi{
    margin-bottom: 23px;
}

.e-mail-2{
    margin-bottom: 33px;
}
.senha-2{
    margin-bottom: 22px;
}
.c-senha-2{
    margin-bottom: 28px;
}
.term{
    margin-bottom: 28px;
}
.send-2{
    height: 47px;
    background-color: #3F3D56;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border: none;
    margin-bottom: 28px;
}
.send-2:hover {
    border-bottom: 1px solid #3F3D56;
    transition-duration: 300ms;
    cursor: pointer;
}

/* página 3 recuperar senha*/

.text-3{
    border: 1px solid #ABB3A8;
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    padding: 16px;
}
.form-3{
    justify-content: center;
    width: 396px;
    margin: 0 auto ;
}

.password{
    text-align: center;
margin-bottom: 31px;
color: #3F3D56;
}
.calm{

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
margin-bottom: 28px;
color: #5A6256;
}
.label-text-3{
    margin-bottom: 5px;
}
.text-3{
    margin-bottom: 20px;
}
.send-3{
    margin-bottom: 25px;
}